/* geral */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --cor1: #2A7A62;
  --cor2: #A0FBE0;
  --cor3: #55FAC8;
  --cor4: #1A527A;
  --cor5: #44C7A0;
}

body, ul, li, p, a {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family:'Roboto', sans-serif;
  text-decoration: none;
}

.logo img {
  max-width: 100px;
  padding: 10px 0 10px 10px;
  margin: 0px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor3);
  padding: 0px;
}

nav {
  overflow: hidden;
  background-color: var(--cor3);
}

nav > a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--cor2);
  color: black;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color:black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: var(--cor2);
}

nav > ul {
  gap: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--cor3);
}

main {
  padding: 0;
  background-color: #F1F1F1;
}

footer {
  padding: 10px 0 10px 0;
  text-align: center;
  background-color: var(--cor3);
  position: bottom fixed;
}

footer > p{
  margin: 0;
}

a {
  color: black;
  text-decoration:none;
}

/* index */

.grid1 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.grid1 > img {
  padding: 0;
  width: 80%;
}

.grid2 {
  display: grid;
  grid-template-areas:
  'bestbooks bestbooks aside'
  'favorites favorites aside'
  'casting casting aside';
  padding: 50px 10px 50px 5px;
}

.balloon {
  display: grid;
  grid-area: aside;
  max-width: 250px;
  font-style: normal;
  background-color: white;
  box-shadow: 2px 2px 15px black ;
  border-radius: 20px 5px 20px;
}

.bestbooks {
  display: grid;
  grid-area: bestbooks;
  margin: 10px 50px 10px 50px;
}

.favorites {
  display: grid;
  grid-area: favorites;
  margin: 10px 50px 10px 50px;
}

.casting {
  display: grid;
  grid-area: casting;
  margin: 10px 50px 10px 50px;
}

.sidebar > div {
  margin-bottom: 10px;
}

.sidebar > img {
  max-width: 100%;
  display: block;
}

@media (max-width: 600px) {
  .grid1 {
      grid-template-columns: 1fr;
  }
  .sidebar {
      display: flex;
      overflow: scroll;
  }
  .sidebar > div {
      flex: 1 0 200px;
      margin: 0 10px;
  }
}

.red {
  color: red;
}

.white {
  color: gray;
}

.blue {
  color: blue;
}

.menu {
  display: flex;
}

.lupa{
  margin-right: 10px;
}

.lupa img {
  max-width: 60px;
  padding: 0px;
  margin: 0px;
}

.footer {
  margin: 0;
}

.sellers {
  background-color: white;
}


/* pagina news */

.banner {
  padding: 0 0 20px 0;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.books {
  display: grid;
  padding: 20px;
}

.news {
  margin: 0;
  padding: 20px;
  font-size: 2rem;
}

/* pagina contato */

* {
  box-sizing: border-box;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
  text-decoration: none;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 20px;
}

.cardright {
  display: grid;
  max-width: 250px;
  font-style: normal;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.balloon2 {
  display: grid;
  max-width: 250px;
  font-style: normal;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

.about {
  align-items: center;
  justify-content: center;
}

.about img{
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 80%;
  align-items: center;
}

.about h2, p {
  justify-content: center;
  margin-left: 10px;
  justify-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
